.card img{
    transition: .5s ease-out;
}

.card:hover img{
    transform: scale(1.2, 1.2);
    opacity: .7;
}

.card .card-img-wrapper{
    overflow: hidden;
    position: relative;
}

.card-img-wrapper .member-icons{
    position: absolute;
    bottom: -30%;
    width: 100%;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.card-img-wrapper:hover .member-icons{
    opacity: 1;
    bottom: 0;
}

.animate{
    transition: all 0.3s ease-in-out;
}

@keyframes fa-blink {
    0% {opacity: 1;}
    100% {opacity: 0.4;}
}

.is-online{
    animation: fa-blink 1.5s linear infinite;
    color: rgb(1, 189, 42);
}